.header {
    width: 1360px;
    height: 60px;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}